.youtube-stay-focused__blur {
	filter: blur(5px) grayscale(100%);
	opacity: 0.3;
}

.youtube-stay-focused__blur:hover {
	filter: none;
	opacity: 1;
}

.youtube-stay-focused__similar-words {
	position: absolute;
	right: 8px;
	bottom: 8px;
	background: lightblue;
	padding: 4px;
}